@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-hero {
    @include responsive-horizontal-padding;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: .0625rem solid $secondary-color-two;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        gap: .25rem;
        align-items: end;
    }
    &__arrow {
        height: 1.5rem;
    }
    &__edit {
        height: 2.25rem;
        width: 2.25rem;
        background-color: $primary-color-two;
        border-radius: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            width: 5.0625rem;
        }
    }
    &__edit-icon {
        height: 1.25rem;
    }
    &__edit-text {
        display: none;
        @include tablet {
            display: contents;
            color: $primary-color-three;
        }
    }
}

.warehouse-detail {
    @include responsive-horizontal-padding;
    color: $primary-color-one;
    @include tablet {
        display: flex;
    }
    &__address {
        padding-top: 1rem;
        @include tablet {
            padding-top: 1.5rem;
            width: 40%;
        }
    }
    &__address-content {
        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    &__label {
        color: $secondary-color-one;
    }
    &__contact {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-top: 2rem;
        padding-bottom: 1rem;
        @include tablet {
            width: 60%;
            gap: 1.5rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            padding-bottom: 0;
            padding-left: 2.5rem;
            border-left: .0625rem solid $secondary-color-two;
            @include desktop {
                width: 50%;
            }
        }
    }
    &__name, &__infor{
        @include tablet {
            width: 50%;
        }
    }
}