@use "../../styles/partials/global" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory-form {
  &__error-text {
    color: $supporting-color-two;
    display: none;
    padding-top: 0.25rem;
    font-size: 0.6875rem;
    line-height: 1rem;
    font-weight: 400;
    

    &--img {
      padding-right: 0.1875rem;
      max-height: 0.8125rem;
    }

    &--visible {
      display: flex;
      align-items: center;
    }
  }
}
