@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin responsive-horizontal-padding {
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @include tablet {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @include desktop {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}
