$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-one: #13182c;
$primary-color-two: #2e66e5;
$primary-color-three: #ffffff;

$secondary-color-one: #5c667e;
$secondary-color-two: #bdc5d5;

$background-color-one: #232940;
$background-color-two: #f7f8f9;

$supporting-color-one: #158463;
$supporting-color-two: #c94515;

$input-height-mobile: 2.25rem;
$input-height-tablet: 2.375rem;
$button-width-tablet: 10.5rem;

$mobile-padding: 1rem;
$tablet-padding: 2rem;
$desktop-padding: 2.5rem;