@use "../../styles/partials/index" as *;

.inventory-details {
  padding: 2rem 1rem;
  background-color: $background-color-two;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 2rem 8.125rem;
  }
  &__arrow {
    width: 1.5rem;
    cursor: pointer;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.1875rem;
    background-color: #ffffff;
    margin-top: -6rem;
    box-shadow: 0px 0.125rem 1rem rgba(19, 24, 44, 0.15);

    @include tablet {
      margin-top: -7.9rem;
      padding: 1.5rem 2rem 1rem;
    }

    @include desktop {
      padding: 1.5rem 2.5rem;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    border-bottom: 1px solid $secondary-color-two;
    margin: 0 -1.5rem;

    @include tablet {
      padding: 0.5rem 2rem 1.3125rem 2rem;
      margin: 0 -2rem;
    }
  }
  &__header-group {
    display: flex;
    gap: 0.5rem;
  }
  &__button {
    background-color: $primary-color-two;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 50%;
    padding: 0.5rem;

    @include tablet {
      padding: 0.5rem 1rem;
      border-radius: 1.25rem;
    }
  }
  &__edit-icon {
    width: 1.25rem;
    cursor: pointer;
  }
  &__edit-text {
    display: none;

    @include tablet {
      display: inline-block;
      color: $primary-color-three;
      font-size: 0.875rem;
    }
  }
}
