@use "../../styles/partials/global" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory-form {
  &__main {
    width: 100%;
    @include tablet {
      padding: 24px 0px;
      display: flex;
      flex-direction: row;
    }
  }

  &__title {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  &__column {
    @include responsive-horizontal-padding;
    padding-bottom: 16px;

    &--border {
      border-top: 0.0625rem solid $secondary-color-two;
      @include tablet {
        border-top: none;
        border-left: 1.5px solid $secondary-color-two;
      }
    }

    @include tablet {
      width: 50%;
    }
  }

  &__error-text {
    display: none;
    
    padding-top: 4px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    color: $supporting-color-two;
    @include tablet {
    }

    &--img {
      padding-right: 3px;
      max-height: 13px;
    }

    &--visible{
      display: flex;
      align-items: center;
    }
  }

  &__input-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    &--invisible {
      display: none;
    }
  }

  &__input-label {
    padding-bottom: 4px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;

    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__input {
    outline: none;
    border-radius: 20px;
    min-height: 36px;
    padding: 0px 16px;
    border: 1px solid $secondary-color-two;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;

    @include tablet {
      font-size: 14px;
      line-height: 22px;
      border: 0.0938rem solid $secondary-color-two;
    }

    &--large {
      padding-top: 8px;
      height: 6.25rem;
      resize: none;
    }

    &:focus {
      border-color: $primary-color-two;
    }

    &--error {
      outline: none;
      border: 0.0625rem solid $supporting-color-two;

      @include tablet {
        border: 0.0938rem solid $supporting-color-two;
      }
    }
  }

  &__dropdown {
    outline: none;
    border-radius: 20px;
    min-height: 36px;
    padding: 0px 14px;
    border: 1px solid $secondary-color-two;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Titillium Web";

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("../../assets/icons/arrow_drop_down-24px.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;

    @include tablet {
      font-size: 14px;
      line-height: 22px;
      border: 1.5px solid $secondary-color-two;
    }

    &--error {
      border: 0.0625rem solid $supporting-color-two;
      @include tablet {
        border: 0.0938rem solid $supporting-color-two;
      }
    }
  }

  &__dropdown option:disabled {
    color: $secondary-color-two;
  }

  &__dropdown::-ms-expand {
    display: none;
  }

  &__radio-button {
    display: flex;
    flex-direction: row;
  }

  &__stock {
    padding-right: 8px;
  }

  &__radio-label {
    padding-right: 48px;
    padding-left: 8px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: $secondary-color-one;

    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }

    &--active {
      color: black;
    }
  }

  &__buttons {
    padding: 16px 0px;
    @include responsive-horizontal-padding;
    background-color: $background-color-two;
    display: flex;
    justify-content: space-between;
    flex: 1;

    @include tablet {
      justify-content: end;
    }
  }

  &__button {
    font-family: "Titillium Web";
    height: 36px;
    border-radius: 20px;
    padding: 0px 16px;
    min-width: calc(50% - 8px);
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;

    @include tablet {
      font-size: 14px;
      line-height: 22px;
      min-width: calc(10% - 8px);
      margin-left: 16px;
    }

    &--cancel {
      border: none;
      border: 1px solid $secondary-color-two;
      color: $secondary-color-one;
      background-color: $primary-color-three;

      &:hover {
        color: $primary-color-two;
        border-color: $primary-color-two;
      }
    }

    &--action {
      border: none;
      border: 0.125rem solid $primary-color-two;
      color: $primary-color-three;
      background-color: $primary-color-two;

      &:hover {
        background-color: $primary-color-one;
        border-color: $primary-color-one;
      }
    }
  }
}
