@use "../../styles/partials/global" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory-form {
  &__main {
  }

  &__title{
    padding-top: 16px;
    padding-bottom: 24px;
  }

  &__column {
    @include responsive-horizontal-padding;
    border-bottom: 0.0625rem solid $secondary-color-two;
  }

  &__input-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }

  &__input-label {
    padding-bottom: 4px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
  }

  &__input {
    outline:none;
    border-radius: 20px;
    padding: 16px;
    border: 1px solid $secondary-color-two;
    
    &:focus{
        border-color: $primary-color-two;
    }

  }

  &__buttons {
    padding: 24px 0px;
    @include responsive-horizontal-padding;
    background-color: $background-color-two;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  &__button {
    font-family: "Titillium Web";
    height: 36px;
    border-radius: 20px;
    padding: 0px 16px;
    min-width: calc(50% - 8px);
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    &--cancel {
      border: none;
      border: 1px solid $secondary-color-two;
      color: $secondary-color-one;
      background-color: $primary-color-three;

      &:hover {
      }
    }

    &--action {
      border: none;
      border: 0.125rem solid $primary-color-two;
      color: $primary-color-three;
      background-color: $primary-color-two;

      &:hover {
      }
    }
  }
}
