@use "../../styles/partials/index" as *;

.header {
    background-color: $background-color-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        padding-bottom: 6.875rem;
    }

    @include desktop {
        padding: 1rem 8.125rem;
        padding-bottom: 7rem;
    }
    
    &__logo {
        padding: 1.5rem;

        @include tablet {
            padding: 1rem 0;
        }
    }

    &__nav {
        display: flex;
        gap:1rem;
        padding-bottom: 5.5rem;
        
        @include tablet{
            padding: 0;
            gap: 1rem;
        }
    }
    &__link {
        color: $primary-color-three;
        font-size: .8125rem;
        padding: .5rem 3rem;
        border-radius: 20px;
        
        &:hover {
            text-decoration: underline;
        }
        &.active {
            background-color: $primary-color-one;
        }

        @include tablet {
            padding: .5rem 1rem;
        }
    }
}