@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font" as *;

.edit-warehouse {
  width: calc(100% - 2rem);
  max-width: 21.4375rem;
  min-height: 100vh;
  margin: 8.5rem auto 6rem auto;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);

  @include tablet {
    width: calc(100% - 4rem);
    max-width: 44rem;
    min-height: auto;
    height: auto;
    margin: 5.75rem auto 20rem auto;
  }

  @include desktop {
    width: calc(100% - 1.625rem);
    max-width: 78.375rem;
    height: 38.25rem;
    margin: 5.75rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 1.625rem 1.5rem 1.5rem;
    border-bottom: 0.0625rem solid $secondary-color-two;

    &-title {
      font-weight: 600;
      font-size: 1.5rem;
      color: $primary-color-one;

      @include tablet {
        font-size: 1.75rem;
      }
    }
  }

  &__form {
    @include desktop {
      width: 100%;
    }

    &-section {
      @include tablet {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 2rem 2rem 2rem;
      }

      &-details {
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        border-bottom: 0.0625rem solid $secondary-color-two;

        @include tablet {
          border-bottom: none;
          width: 50%;
          padding: 1rem 1.96875rem 1.5rem 0rem;
        }

        &-title {
          font-weight: 600;
          font-size: 1.125rem;
          padding-bottom: 0.5rem;
          color: $primary-color-one;

          @include tablet {
            font-size: 1.5rem;
          }
        }

        label {
          display: block;
          font-weight: 600;
          font-size: 0.8125rem;
          padding: 1rem 0rem 0.25rem 0rem;
          color: $primary-color-one;

          @include tablet {
            font-size: 0.875rem;
          }
        }

        input {
          padding: 0.5rem 1rem;
          height: 2.25rem;
          width: 100%;
          border: 0.0625rem solid $secondary-color-two;
          border-radius: 1.25rem;

          &::placeholder {
            font-family: "Titillium Web";
            font-weight: 400;
            font-size: 0.8125rem;
            color: $secondary-color-one;

            @include tablet {
              font-size: 0.875rem;
            }
          }

          &:hover {
            border: 0.0625rem solid $primary-color-two;
          }

          &:focus,
          &:active {
            border: 0.125rem solid $primary-color-two;
            outline: none;
          }

          &.input-error {
            border: 0.0625rem solid $supporting-color-two;
            outline: none;
          }
        }
      }

      &-contact {
        padding: 1rem 1.5rem 1.5rem 1.5rem;

        @include tablet {
          width: 50%;
          border-left: 0.0625rem solid $secondary-color-two;
          padding: 1rem 0rem 1.5rem 1.96875rem;
        }

        &-title {
          font-weight: 600;
          font-size: 1.125rem;
          padding-bottom: 0.5rem;
          color: $primary-color-one;

          @include tablet {
            font-size: 1.5rem;
          }
        }

        label {
          display: block;
          font-weight: 600;
          font-size: 0.8125rem;
          padding: 1rem 0rem 0.25rem 0rem;
          color: $primary-color-one;

          @include tablet {
            font-size: 0.875rem;
          }
        }

        input {
          padding: 0.5rem 1rem;
          height: 2.25rem;
          width: 100%;
          border: 0.0625rem solid $secondary-color-two;
          border-radius: 1.25rem;

          &::placeholder {
            font-family: "Titillium Web";
            font-weight: 400;
            font-size: 0.8125rem;
            color: $secondary-color-one;

            @include tablet {
              font-size: 0.875rem;
            }
          }

          &:hover {
            border: 0.0625rem solid $primary-color-two;
          }

          &:focus,
          &:active {
            border: 0.125rem solid $primary-color-two;
            outline: none;
          }

          &.input-error {
            border: 0.0625rem solid $supporting-color-two;
            outline: none;
          }
        }
      }
    }

    &-button {
      background-color: $background-color-two;
      padding: 1rem 1.5rem 1rem 1.5rem;
      display: flex;
      gap: 1rem;
      justify-content: center;

      @include tablet {
        justify-content: flex-end;
        gap: 1rem;
        padding-top: 1.5rem;
      }

      &-cancel {
        height: 2.25rem;
        width: 50%;
        min-width: 7.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        background-color: $primary-color-three;
        color: $secondary-color-one;
        font-family: "Titillium Web";
        font-weight: 600;
        font-size: 0.8125rem;
        border: 0.0625rem solid $secondary-color-two;
        border-radius: 1.25rem;

        &:hover {
          border: 0.0625rem solid $primary-color-two;
          color: $primary-color-two;
        }

        @include tablet {
          height: 2.375rem;
          width: 2.25rem;
          padding: 0.5rem 1rem;
        }
      }

      &-save {
        height: 2.25rem;
        width: 50%;
        min-width: 7.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        background-color: $primary-color-two;
        color: $primary-color-three;
        border: none;
        font-family: "Titillium Web";
        font-weight: 600;
        font-size: 0.8125rem;
        border-radius: 1.25rem;

        &:hover {
          background-color: $primary-color-one;
          color: $primary-color-three;
        }

        @include tablet {
          width: 1.25rem;
          height: 2.375rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

.error-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.error-icon {
  width: 1rem;
  height: 1rem;
}

.error-message {
  font-size: 0.8125rem;
  color: $supporting-color-two;

  @include tablet {
    font-size: 0.875rem;
  }
}
