@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-tablet-header {
  display: none;

  @include tablet {
    background-color: $background-color-two;
    display: flex;
    width: 100%;
    gap: 0;
    align-items: center;
    height: 2.5rem;
    box-sizing: border-box;
    @include responsive-horizontal-padding;
  }
}

.inventory-tablet-label {
  width: 10rem;
  display: flex;
  align-items: center;
  color: $secondary-color-one;
  &:nth-child(1) {
    width: calc((100% - 5rem) * 0.25);
    @include desktop {
      width: calc((100% - 5rem) * 0.2025);
    }
  }
  &:nth-child(2) {
    width: calc((100% - 5rem) * 0.2);
    @include desktop {
      width: calc((100% - 5rem) * 0.2475);
    }
  }
  &:nth-child(3) {
    width: calc((100% - 5rem) * 0.2);
    @include desktop {
      width: calc((100% - 5rem) * 0.225);
    }
  }
  &:nth-child(4) {
    width: calc((100% - 5rem) * 0.3);
    display: flex;
    justify-content: center;
    @include desktop {
      width: calc((100% - 5rem) * 0.275);
    }
  }
  &:last-child {
    flex: 0 0 5rem;
    justify-content: flex-end;
    margin-left: auto;
  }
  &__full {
    display: flex;
    justify-content: space-between;
  }
}
