@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../components/Typography/Typography.scss" as typography;

.warehouses-section {
  margin: 1rem;
  box-shadow: 0px 2px 5px 0px #13182c1a;
}

.warehouses-hero {
  padding: 1.5rem;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 1.375rem 2rem;
  }
  &__right {
    @include tablet {
      display: flex;
      gap: 1rem;
    }
  }
}

.warehouses-title {
  margin: 0.5rem 0;
  @include tablet {
    margin: 0;
  }
}


.warehouse-search {
  margin: 1rem 0;
  position: relative;
  width: 100%;
  @include tablet {
    margin: 0;
  }
  &__input {
    width: 100%;
    height: 2.25rem;
    padding: 0 1rem;
    border: 0.0625rem solid $secondary-color-two;
    border-radius: 1.25rem;
    &::placeholder {
      color: $secondary-color-one;
      @extend .p2;
    }
    @include tablet {
      height: 2.375rem;
      width: 11.5625rem;
    }
    @include desktop {
      width: 17.125rem;
    }
  }
  &__icon {
    position: absolute;
    right: 10px;
    top: 0.375rem;
    height: 24px;
    cursor: pointer;
    @include tablet {
      top: .5rem;
    }
  }
}

.add-warehouse-button {
  color: $primary-color-three;
  background-color: $primary-color-two;
  border: 0.125rem solid $primary-color-two;
  width: 100%;
  height: 2.25rem;
  padding: 0 1rem;
  border-radius: 1.25rem;
  @include tablet {
    height: 2.375rem;
    width: 10.5rem;
    flex-shrink: 0;
    h3 {
      white-space: nowrap; 
    }
  }
}
