@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-tablet-header {
  display: none;
  @include tablet {
    background-color: $background-color-two;
    display: flex;
    width: 100%;
    gap: 0;
    align-items: center;
    height: 2.5rem;
    @include responsive-horizontal-padding;
    box-sizing: border-box;
  }
}

.inventory-tablet-label {
  width: 160px;
  display: flex;
  align-items: center;
  color: $secondary-color-one;

  @include desktop {
    width: 150px;
  }

  &__warehouse {
    &--invisible {
      display: none;
    }
  }
}

.inventory-tablet-icon {
  height: 1rem;
  margin-left: 0.25rem;
}

.inventory-list {
  @include tablet {
    .inventory-item:first-child {
      border-top: none;
    }
  }
}

.inventory-item {
  border-top: 0.0625rem solid $secondary-color-two;
  @include responsive-horizontal-padding;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    align-items: center;
  }

  &__label {
    color: $secondary-color-one;
    margin-bottom: 0.25rem;
    display: flex;

    @include tablet {
      display: none;
    }

    &--action {
      @include tablet {
        order: 1;
      }
    }
  }

  &__content {
    @include tablet {
      width: calc(100% - 5rem);
    }
  }

  &__columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    @include tablet {
      justify-content: start;
      gap: 0;
      align-items: center;
    }
  }

  &__column {
    padding-right: 50px;
    @include tablet {
      padding: 0px;
      display: flex;
      align-items: center;
    }
  }

  &__attribute {
    margin-bottom: 1rem;

    @include tablet {
      width: 120px;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    @include desktop {
      width: 150px;
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }

  &__stock {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 8px;

    height: 24px;
    border-radius: 20px;
    text-align: center;

    &--in-stock {
      width: 61px;
      background-color: rgba($supporting-color-one, 0.07);
      color: $supporting-color-one;
    }

    &--out-of-stock {
      width: 86px;
      background-color: rgba($supporting-color-two, 0.07);
      color: $supporting-color-two;
    }
  }

  &__warehouse {
    &--invisible {
      display: none;
    }
  }

  &__link {
    color: $primary-color-two;
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    @include tablet {
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}